# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
~$data_cross_comparison.xlsx
.DS_Store
/.ipynb_checkpoints
/01_corpus_preprocessing/__pycache__
/02_model_training/__pycache__
/03_evaluation/__pycache__
/deal with
/evals/replication/.ipynb_checkpoints
/scores/replication/.ipynb_checkpoints
/datasets/.ipynb_checkpoints
/evals/counts/.ipynb_checkpoints
/evals/norms/.ipynb_checkpoints
/scores/counts/.ipynb_checkpoints
/scores/norms/.ipynb_checkpoints
/06_manuscript/authorship
/06_manuscript/manuscript_files
06_manuscript/~$dataset_list.xlsx
06_manuscript/~$nuscript.docx
.env
